<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <timeZone>UTC</timeZone>
      <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
        <maxLength>2048</maxLength>
        <exclude>java\.net</exclude>
        <exclude>java\.util\.concurrent</exclude>
        <exclude>rx\.internal</exclude>
        <exclude>rx\.Observable</exclude>
        <exclude>sun\.security</exclude>
      </throwableConverter>
    </encoder>
  </appender>

  <logger name="org.apache.kafka.common.metrics" level="OFF" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="com.sky" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
